<%= simple_form_for(@com_type) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>
  <br>
  <div class="form-actions">
		<%= f.button :submit, 'Save', :class => 'btn-primary' %>
  </div>
<% end %>
<br>