<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member_village.name %>
</p>

<%= link_to 'Edit', edit_member_village_path(@member_village) %> |
<%= link_to 'Back', member_villages_path %>
