<h3 class="home">WARVRA - Membership program</h3>
<hr>
<p class="home">Welcome to the WARVRA membership program website...</p>
<p class="home">Facilities are available via the Top-Sticky menu, when logged in!</p>
<p>&nbsp;</p>
<p><img src="home_page2.png" width="180" alt="Home Page Icon">
</p>

